Repository twitterjs/twitter.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ext ts, prettier --write

.lintstagedrc.json:

{
  "*.ts": "eslint --fix --ext ts",
  "*.{json,yml,yaml}": "prettier --write"
}

fix: use correct syntax for lint script
  .github/workflows/lint.yml
Due: prettier --write

chore: add npm scripts and github workflow for linting (#60)
  .eslintrc.json
  .github/workflows/lint.yml
  .lintstagedrc.json
  .prettierignore
  .vscode/settings.json
  package.json
  src/rest/TwitterAPIError.ts
  tsconfig.json
  typedoc.json
Due: eslint --fix --ext ts, prettier --write

chore: add workflow tests for docs and typescript build
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: prettier --write

feat: add keepAliveSignal event & mv id field to BaseStructure
  src/client/Client.ts
  src/managers/__tests__/BaseManager.test.ts
  src/rest/RequestHandler.ts
  src/structures/BaseStructure.ts
  src/structures/FilteredTweetStreamRule.ts
  src/structures/Media.ts
  src/structures/Place.ts
  src/structures/Poll.ts
  src/structures/SimplifiedSpace.ts
  src/structures/SimplifiedTweet.ts
  src/structures/SimplifiedUser.ts
  src/typings/Interfaces.ts
  src/util/Constants.ts
Due: eslint --fix --ext ts

fix: update twitter-types to fix poll id type issue
  package-lock.json
  package.json
Due: prettier --write

feat: add keepAliveSignal event & mv id field to BaseStructure (#61)
  package-lock.json
  package.json
  src/client/Client.ts
  src/managers/__tests__/BaseManager.test.ts
  src/rest/RequestHandler.ts
  src/structures/BaseStructure.ts
  src/structures/FilteredTweetStreamRule.ts
  src/structures/Media.ts
  src/structures/Place.ts
  src/structures/Poll.ts
  src/structures/SimplifiedSpace.ts
  src/structures/SimplifiedTweet.ts
  src/structures/SimplifiedUser.ts
  src/typings/Interfaces.ts
  src/util/Constants.ts
Due: eslint --fix --ext ts, prettier --write

docs(*): update documentation for client attribute
  src/managers/BaseManager.ts
  src/managers/SpaceManager.ts
  src/managers/TweetManager.ts
  src/managers/UserManager.ts
  src/rest/RESTManager.ts
  src/streams/BaseStream.ts
  src/streams/FilteredTweetStream.ts
  src/streams/SampledTweetStream.ts
  src/structures/BaseStructure.ts
Due: eslint --fix --ext ts

docs(BaseClient): update class description
  src/client/BaseClient.ts
Due: eslint --fix --ext ts

docs(*): update documentation for client attribute (#62)
  src/client/BaseClient.ts
  src/managers/BaseManager.ts
  src/managers/SpaceManager.ts
  src/managers/TweetManager.ts
  src/managers/UserManager.ts
  src/rest/RESTManager.ts
  src/streams/BaseStream.ts
  src/streams/FilteredTweetStream.ts
  src/streams/SampledTweetStream.ts
  src/structures/BaseStructure.ts
Due: eslint --fix --ext ts

chore: add workflow for publishing to npm
  .github/workflows/publish.yml
Due: prettier --write

chore: bump version to v0.6.0
  package.json
Due: prettier --write

chore: fix NPM job name field in Publish workflow
  .github/workflows/publish.yml
Due: prettier --write

chore: fix issues in github workflows
  .github/workflows/publish.yml
  .github/workflows/test.yml
Due: prettier --write

chore: fix wildcard for tags-ignore in test workflow
  .github/workflows/test.yml
Due: prettier --write

chore: bump minimum required node version to v16.0.0
  package.json
Due: prettier --write

chore: update dependencies
  README.md
  package-lock.json
  package.json
  typedoc.json
Due: prettier --write

chore: add some vscode settings for TS files
  .vscode/settings.json
Due: prettier --write

chore: add vscode extension recommendations config
  .vscode/extensions.json
Due: prettier --write

feat: add list manager and method for creating/deleting a list
  .vscode/settings.json
  src/client/Client.ts
  src/errors/ErrorMessages.ts
  src/managers/ListManager.ts
  src/managers/index.ts
  src/structures/List.ts
  src/structures/index.ts
  src/typings/Interfaces.ts
  src/typings/Types.ts
  src/util/Collection.ts
Due: eslint --fix --ext ts, prettier --write

feat(ListManager): add methods to update list and add/remove member
  src/managers/ListManager.ts
  src/typings/Interfaces.ts
Due: eslint --fix --ext ts

chore: update test workflow
  .github/workflows/test.yml
Due: prettier --write

feat(ListManager): add methods to follow and unfollow a list
  src/managers/ListManager.ts
Due: eslint --fix --ext ts

feat(ListManager): add methods to pin or unpin a list
  src/managers/ListManager.ts
Due: eslint --fix --ext ts

fix: update twitter-types to use the fixed interface names
  package-lock.json
  package.json
  src/managers/ListManager.ts
Due: eslint --fix --ext ts, prettier --write

feat(List): add description and private property
  src/managers/ListManager.ts
  src/structures/List.ts
Due: eslint --fix --ext ts

feat: add support for manage lists endpoints (#63)
  .vscode/settings.json
  package-lock.json
  package.json
  src/client/Client.ts
  src/errors/ErrorMessages.ts
  src/managers/ListManager.ts
  src/managers/index.ts
  src/structures/List.ts
  src/structures/index.ts
  src/typings/Interfaces.ts
  src/typings/Types.ts
  src/util/Collection.ts
Due: eslint --fix --ext ts, prettier --write

chore: update github workflows
  .github/workflows/publish.yml
  .github/workflows/test.yml
Due: prettier --write

chore: bump version to v0.7.0
  .github/workflows/publish.yml
  package.json
Due: prettier --write

feat: add support for commonjs
  .github/workflows/publish.yml
  package-lock.json
  package.json
  script.mjs
  tsconfig-cjs.json
  tsconfig.json
Due: prettier --write

feat: add support for commonjs (#64)
  .github/workflows/publish.yml
  package-lock.json
  package.json
  script.mjs
  tsconfig-cjs.json
  tsconfig.json
Due: prettier --write

chore: bump version to v0.8.0
  package.json
Due: prettier --write

fix: cmds in script.mjs not generating valid package.json on linux
  script.mjs
Due: none

chore: bump version to v0.8.1
  package.json
Due: prettier --write

fix(SimplifiedUser): set description to null if it's an empty string
  src/structures/SimplifiedUser.ts
Due: eslint --fix --ext ts

chore: sync lockfile
  package-lock.json
Due: prettier --write

feat: emit matching rules collection in filteredTweetCreate event
  package-lock.json
  package.json
  src/client/Client.ts
  src/structures/FilteredTweetStreamRule.ts
  src/typings/Interfaces.ts
Due: eslint --fix --ext ts, prettier --write

feat: emit matching rules collection in filteredTweetCreate event (#65)
  package-lock.json
  package.json
  src/client/Client.ts
  src/structures/FilteredTweetStreamRule.ts
  src/typings/Interfaces.ts
Due: eslint --fix --ext ts, prettier --write

refactor: remove streams and add a manager for filtered stream rules
  src/client/Client.ts
  src/index.ts
  src/managers/FilteredStreamRuleManager.ts
  src/managers/index.ts
  src/streams/BaseStream.ts
  src/streams/FilteredTweetStream.ts
  src/streams/SampledTweetStream.ts
  src/streams/index.ts
  src/structures/FilteredStreamRule.ts
  src/structures/FilteredTweetStreamRule.ts
  src/structures/index.ts
  src/structures/misc/Miscellaneous.ts
  src/typings/Interfaces.ts
  src/typings/Types.ts
Due: eslint --fix --ext ts

refactor(FilteredStreamRuleManager): rename and refactor methods
  src/errors/ErrorMessages.ts
  src/managers/FilteredStreamRuleManager.ts
  src/typings/Interfaces.ts
Due: eslint --fix --ext ts

refactor(FilteredStreamRule): remove unused Snowflake import
  src/structures/FilteredStreamRule.ts
Due: eslint --fix --ext ts
