Repository twitterjs/twitter.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ext ts, prettier --write

.lintstagedrc.json:

{
  "*.ts": "eslint --fix --ext ts",
  "*.{json,yml,yaml}": "prettier --write"
}

refactor: remove streams and add a manager for filtered stream rules (#66)
  src/client/Client.ts
  src/errors/ErrorMessages.ts
  src/index.ts
  src/managers/FilteredStreamRuleManager.ts
  src/managers/index.ts
  src/streams/BaseStream.ts
  src/streams/FilteredTweetStream.ts
  src/streams/SampledTweetStream.ts
  src/streams/index.ts
  src/structures/FilteredStreamRule.ts
  src/structures/FilteredTweetStreamRule.ts
  src/structures/index.ts
  src/structures/misc/Miscellaneous.ts
  src/typings/Interfaces.ts
  src/typings/Types.ts
Due: eslint --fix --ext ts

chore: update code-sample in README
  README.md
Due: none

refactor: rename add method of managers to _add
  src/books/BlocksBook.ts
  src/books/ComposedTweetsBook.ts
  src/books/FollowersBook.ts
  src/books/FollowingsBook.ts
  src/books/LikedTweetsBook.ts
  src/books/MentionsBook.ts
  src/books/MutesBook.ts
  src/books/SearchTweetsBook.ts
  src/client/Client.ts
  src/managers/BaseManager.ts
  src/managers/FilteredStreamRuleManager.ts
  src/managers/ListManager.ts
  src/managers/SpaceManager.ts
  src/managers/TweetManager.ts
  src/managers/UserManager.ts
  src/managers/__tests__/BaseManager.test.ts
Due: eslint --fix --ext ts

chore: update typescript and undici
  package-lock.json
  package.json
Due: prettier --write

refactor: remove HTTPError class and improve typings
  src/rest/APIRequest.ts
  src/rest/APIRouter.ts
  src/rest/HTTPError.ts
  src/rest/RESTManager.ts
  src/rest/RequestHandler.ts
Due: eslint --fix --ext ts

chore: bump version to v0.9.0
  package.json
Due: prettier --write

feat: add support for manage tweet endpoints
  package-lock.json
  package.json
  src/managers/TweetManager.ts
  src/structures/TweetPayload.ts
  src/structures/index.ts
  src/typings/Interfaces.ts
Due: eslint --fix --ext ts, prettier --write

feat: allow resolvables instead of just ids in tweet create data
  package-lock.json
  package.json
  src/managers/TweetManager.ts
  src/structures/TweetPayload.ts
  src/typings/Interfaces.ts
Due: eslint --fix --ext ts, prettier --write

chore: update twitter-types to v0.18.1
  package-lock.json
  package.json
Due: prettier --write

feat: add reply, quote, and delete methods for tweet
  src/managers/TweetManager.ts
  src/structures/Tweet.ts
  src/structures/TweetPayload.ts
  src/typings/Interfaces.ts
  src/typings/Types.ts
Due: eslint --fix --ext ts

fix: typings and add documentation
  package-lock.json
  package.json
  src/managers/TweetManager.ts
  src/structures/Tweet.ts
Due: eslint --fix --ext ts, prettier --write

feat: add support for manage tweet endpoints (#67)
  package-lock.json
  package.json
  src/managers/TweetManager.ts
  src/structures/Tweet.ts
  src/structures/TweetPayload.ts
  src/structures/index.ts
  src/typings/Interfaces.ts
  src/typings/Types.ts
Due: eslint --fix --ext ts, prettier --write

chore: bump version to v0.10.0
  package.json
Due: prettier --write

chore: add repo stats to README
  README.md
Due: none

types: fetching rules returns a collection when option is undefined
  src/typings/Types.ts
Due: eslint --fix --ext ts

types: fetching rules returns a collection when option is undefined (#68)
  src/typings/Types.ts
Due: eslint --fix --ext ts

chore: bump version to v0.10.1
  package.json
Due: prettier --write

added contribution guide
  CONTRIBUTING.md
Due: none

removed mention of a PR template
  CONTRIBUTING.md
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

chore: add contribution guide (#70)
  CONTRIBUTING.md
Due: none

chore: update undici and typescript
  package-lock.json
  package.json
Due: prettier --write

chore: update all dependencies to latest version
  package-lock.json
  package.json
Due: prettier --write

chore: update all dependencies to latest version (#71)
  package-lock.json
  package.json
Due: prettier --write

chore: allow lower, camel, and pascal cases in commit msg scope
  .commitlintrc.json
Due: prettier --write

chore(.vscode): set cursor blinking animation to phase
  .vscode/settings.json
Due: prettier --write

feat: add Tweet and SimplifiedTweet to UserResolvable
  src/managers/UserManager.ts
  src/typings/Types.ts
Due: eslint --fix --ext ts

chore: add dependabot configuration file
  .github/dependabot.yml
Due: prettier --write

chore: add dependabot configuration file (#73)
  .github/dependabot.yml
Due: prettier --write

chore: add reviewers to dependabot config
  .github/dependabot.yml
Due: prettier --write

feat: add Tweet and SimplifiedTweet to UserResolvable (#72)
  src/managers/UserManager.ts
  src/typings/Types.ts
Due: eslint --fix --ext ts

chore: remove reviewers from dependabot config file
  .github/dependabot.yml
Due: prettier --write

chore: update deps and sync lockfile
  package-lock.json
  package.json
Due: prettier --write

chore: set versioning-strategy to increase for dependabot
  .github/dependabot.yml
Due: prettier --write

fix: dependabot config file indentation
  .github/dependabot.yml
Due: prettier --write

chore: use stripInternal tsc flag
  src/client/Client.ts
  tsconfig.json
Due: eslint --fix --ext ts, prettier --write

chore: use stripInternal tsc flag (#76)
  src/client/Client.ts
  tsconfig.json
Due: eslint --fix --ext ts, prettier --write

chore: set PR limit to 10 for dependabot
  .github/dependabot.yml
Due: prettier --write

chore: replace jest with vitest
  package-lock.json
  package.json
  src/client/__tests__/BaseClient.test.ts
  src/client/__tests__/Client.test.ts
  src/managers/__tests__/BaseManager.test.ts
  src/util/__tests__/Utility.test.ts
Due: eslint --fix --ext ts, prettier --write

chore: update vitest and undici
  package-lock.json
  package.json
  src/client/__tests__/Client.test.ts
Due: eslint --fix --ext ts, prettier --write
