Repository twitterjs/twitter.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ext ts, prettier --write

.lintstagedrc.json:

{
  "*.ts": "eslint --fix --ext ts",
  "*.{json,yml,yaml}": "prettier --write"
}

chore: remove jest and babel config files
  babel.config.json
  jest.config.js
Due: prettier --write

chore: update vitest to latest
  package-lock.json
  package.json
Due: prettier --write

test(util): replace toEqual with toStrictEqual
  src/util/__tests__/Utility.test.ts
Due: eslint --fix --ext ts

chore: replace jest with vitest (#96)
  babel.config.json
  jest.config.js
  package-lock.json
  package.json
  src/client/__tests__/BaseClient.test.ts
  src/client/__tests__/Client.test.ts
  src/managers/__tests__/BaseManager.test.ts
  src/util/__tests__/Utility.test.ts
Due: eslint --fix --ext ts, prettier --write

feat: add /users/@me route and the new twitter-types
  package-lock.json
  package.json
  src/books/BlocksBook.ts
  src/books/ComposedTweetsBook.ts
  src/books/FollowersBook.ts
  src/books/FollowingsBook.ts
  src/books/LikedTweetsBook.ts
  src/books/MentionsBook.ts
  src/books/MutesBook.ts
  src/books/SearchTweetsBook.ts
  src/books/TweetsCountBook.ts
  src/client/Client.ts
  src/errors/ErrorMessages.ts
  src/managers/FilteredStreamRuleManager.ts
  src/managers/ListManager.ts
  src/managers/SpaceManager.ts
  src/managers/TweetManager.ts
  src/managers/UserManager.ts
  src/structures/Tweet.ts
  src/structures/TweetPayload.ts
  src/structures/misc/Miscellaneous.ts
  src/typings/Interfaces.ts
  src/util/Constants.ts
Due: eslint --fix --ext ts, prettier --write

feat: add /users/@me route and the new twitter-types (#108)
  package-lock.json
  package.json
  src/books/BlocksBook.ts
  src/books/ComposedTweetsBook.ts
  src/books/FollowersBook.ts
  src/books/FollowingsBook.ts
  src/books/LikedTweetsBook.ts
  src/books/MentionsBook.ts
  src/books/MutesBook.ts
  src/books/SearchTweetsBook.ts
  src/books/TweetsCountBook.ts
  src/client/Client.ts
  src/errors/ErrorMessages.ts
  src/managers/FilteredStreamRuleManager.ts
  src/managers/ListManager.ts
  src/managers/SpaceManager.ts
  src/managers/TweetManager.ts
  src/managers/UserManager.ts
  src/structures/Tweet.ts
  src/structures/TweetPayload.ts
  src/structures/misc/Miscellaneous.ts
  src/typings/Interfaces.ts
  src/util/Constants.ts
Due: eslint --fix --ext ts, prettier --write

feat: add method to fetch a list
  src/managers/ListManager.ts
  src/structures/List.ts
  src/structures/SimplifiedList.ts
  src/structures/index.ts
  src/typings/Interfaces.ts
  src/typings/Types.ts
  src/util/Constants.ts
Due: eslint --fix --ext ts

chore: refactor twitter-types, add vitest config, and bump deps
  .github/dependabot.yml
  package-lock.json
  package.json
  src/books/BlocksBook.ts
  src/books/ComposedTweetsBook.ts
  src/books/FollowersBook.ts
  src/books/FollowingsBook.ts
  src/books/LikedTweetsBook.ts
  src/books/MentionsBook.ts
  src/books/MutesBook.ts
  src/books/SearchTweetsBook.ts
  src/books/TweetsCountBook.ts
  src/client/Client.ts
  src/managers/FilteredStreamRuleManager.ts
  src/managers/ListManager.ts
  src/managers/SpaceManager.ts
  src/managers/TweetManager.ts
  src/managers/UserManager.ts
  src/structures/TweetPayload.ts
  src/structures/misc/Miscellaneous.ts
  src/typings/Interfaces.ts
  src/util/Constants.ts
  vitest.config.ts
Due: eslint --fix --ext ts, prettier --write

chore: refactor twitter-types, add vitest config, and bump deps (#122)
  .github/dependabot.yml
  package-lock.json
  package.json
  src/books/BlocksBook.ts
  src/books/ComposedTweetsBook.ts
  src/books/FollowersBook.ts
  src/books/FollowingsBook.ts
  src/books/LikedTweetsBook.ts
  src/books/MentionsBook.ts
  src/books/MutesBook.ts
  src/books/SearchTweetsBook.ts
  src/books/TweetsCountBook.ts
  src/client/Client.ts
  src/managers/FilteredStreamRuleManager.ts
  src/managers/ListManager.ts
  src/managers/SpaceManager.ts
  src/managers/TweetManager.ts
  src/managers/UserManager.ts
  src/structures/TweetPayload.ts
  src/structures/misc/Miscellaneous.ts
  src/typings/Interfaces.ts
  src/util/Constants.ts
  vitest.config.ts
Due: eslint --fix --ext ts, prettier --write

refactor: remove commonjs support and refactor books
  package-lock.json
  package.json
  script.mjs
  src/books/BaseBook.ts
  src/books/BaseRangeBook.ts
  src/books/BlocksBook.ts
  src/books/ComposedTweetsBook.ts
  src/books/FollowersBook.ts
  src/books/FollowingsBook.ts
  src/books/LikedTweetsBook.ts
  src/books/MentionsBook.ts
  src/books/MutesBook.ts
  src/books/SearchTweetsBook.ts
  src/books/TweetsCountBook.ts
  src/books/index.ts
  src/managers/TweetManager.ts
  src/managers/UserManager.ts
  src/structures/ClientUser.ts
  src/structures/SimplifiedUser.ts
  src/typings/Interfaces.ts
  src/typings/Types.ts
  tsconfig-cjs.json
  tsconfig.json
Due: eslint --fix --ext ts, prettier --write

fix: update twitter-types
  package-lock.json
  package.json
  src/util/Constants.ts
Due: eslint --fix --ext ts, prettier --write

feat: add books for paginated lists routes
  src/books/FollowedListsBook.ts
  src/books/ListFollowersBook.ts
  src/books/ListMembersBook.ts
  src/books/ListMembershipsBook.ts
  src/books/ListTweetsBook.ts
  src/books/OwnedListsBook.ts
  src/books/PinnedListsBook.ts
  src/books/index.ts
  src/typings/Interfaces.ts
Due: eslint --fix --ext ts

fix: update twitter-types and remove expect-error directives
  package-lock.json
  package.json
  src/books/PinnedListsBook.ts
Due: eslint --fix --ext ts, prettier --write

chore: remove year range from license
  LICENSE
Due: none

feat: add books for list routes, refactor old books, & remove cjs support (#123)
  LICENSE
  package-lock.json
  package.json
  script.mjs
  src/books/BaseBook.ts
  src/books/BaseRangeBook.ts
  src/books/ComposedTweetsBook.ts
  src/books/FollowedListsBook.ts
  src/books/FollowersBook.ts
  src/books/FollowingsBook.ts
  src/books/ListFollowersBook.ts
  src/books/ListMembersBook.ts
  src/books/ListMembershipsBook.ts
  src/books/ListTweetsBook.ts
  src/books/MentionsBook.ts
  src/books/MutesBook.ts
  src/books/OwnedListsBook.ts
  src/books/PinnedListsBook.ts
  src/books/SearchTweetsBook.ts
  src/books/TweetsCountBook.ts
  src/books/index.ts
  src/managers/TweetManager.ts
  src/managers/UserManager.ts
  src/structures/ClientUser.ts
  src/structures/SimplifiedUser.ts
  src/typings/Interfaces.ts
  src/typings/Types.ts
  src/util/Constants.ts
  tsconfig-cjs.json
  tsconfig.json
Due: eslint --fix --ext ts, prettier --write

chore: build commonjs module for publishing
  package-lock.json
  package.json
  src/structures/misc/TweetMetrics.ts
  tsconfig.json
Due: eslint --fix --ext ts, prettier --write

chore: build commonjs module for publishing (#127)
  package-lock.json
  package.json
  src/structures/misc/TweetMetrics.ts
  tsconfig.json
Due: eslint --fix --ext ts, prettier --write

chore: prettify codeblock in README
  README.md
Due: none

feat: add support for fetching ticket buyers of a space & refac books
  src/books/BaseRangeBook.ts
  src/books/BlockedUsersBook.ts
  src/books/ComposedTweetsBook.ts
  src/books/FollowedListsBook.ts
  src/books/LikedTweetsBook.ts
  src/books/ListFollowersBook.ts
  src/books/ListTweetsBook.ts
  src/books/MemberOfListsBook.ts
  src/books/MutedUsersBook.ts
  src/books/OwnedListsBook.ts
  src/books/PinnedListsBook.ts
  src/books/SearchTweetsBook.ts
  src/books/SpaceTicketBuyersBook.ts
  src/books/TweetsCountBook.ts
  src/books/UserFollowersBook.ts
  src/books/UserFollowingsBook.ts
  src/books/UserMentioningTweetsBook.ts
  src/books/index.ts
  src/typings/Interfaces.ts
Due: eslint --fix --ext ts

chore: update deps
  package-lock.json
  package.json
  vitest.config.ts
Due: eslint --fix --ext ts, prettier --write

chore: release v0.11.0
  package-lock.json
  package.json
Due: prettier --write

chore: remove zx cmd from publish workflow
  .github/workflows/publish.yml
Due: prettier --write

chore: update typedoc to latest
  package-lock.json
  package.json
Due: prettier --write

feat: add books for liking-users & retweeted-by routes
  package-lock.json
  package.json
  src/books/LikedByUsersBook.ts
  src/books/RetweetedByUsersBook.ts
  src/books/index.ts
  src/managers/TweetManager.ts
  src/typings/Interfaces.ts
Due: eslint --fix --ext ts, prettier --write

fix(SimplifiedTweet): remove fetchRetweetedBy method
  src/structures/SimplifiedTweet.ts
Due: eslint --fix --ext ts

feat: add books for liking-users & retweeted-by routes (#129)
  package-lock.json
  package.json
  src/books/LikedByUsersBook.ts
  src/books/RetweetedByUsersBook.ts
  src/books/index.ts
  src/managers/TweetManager.ts
  src/structures/SimplifiedTweet.ts
  src/typings/Interfaces.ts
Due: eslint --fix --ext ts, prettier --write

refactor: use node protocol
  src/client/BaseClient.ts
  src/client/__tests__/BaseClient.test.ts
  src/rest/RESTManager.ts
  src/rest/RequestHandler.ts
Due: eslint --fix --ext ts

refactor: use node protocol (#128)
  src/client/BaseClient.ts
  src/client/__tests__/BaseClient.test.ts
  src/rest/RESTManager.ts
  src/rest/RequestHandler.ts
Due: eslint --fix --ext ts

refactor: remove redundant misc classes
  src/managers/TweetManager.ts
  src/managers/UserManager.ts
  src/structures/SimplifiedTweet.ts
  src/structures/SimplifiedUser.ts
  src/structures/misc/Miscellaneous.ts
Due: eslint --fix --ext ts

refactor: remove redundant misc classes (#130)
  src/managers/TweetManager.ts
  src/managers/UserManager.ts
  src/structures/SimplifiedTweet.ts
  src/structures/SimplifiedUser.ts
  src/structures/misc/Miscellaneous.ts
Due: eslint --fix --ext ts

refactor: remove redundant comments
  src/client/Client.ts
  src/managers/FilteredStreamRuleManager.ts
  src/managers/SpaceManager.ts
  src/managers/TweetManager.ts
  src/managers/UserManager.ts
  src/rest/TwitterAPIError.ts
  src/structures/SimplifiedTweet.ts
  src/structures/Tweet.ts
  src/structures/User.ts
Due: eslint --fix --ext ts

docs: add install cmd to README
  README.md
Due: none

docs: change install heading in README
  README.md
Due: none

chore: run eslint before prettier on commit
  .lintstagedrc.json
Due: prettier --write

chore: add format job to test workflow
  .github/workflows/test.yml
  .lintstagedrc.json
  package.json
Due: prettier --write

chore: update devDeps
  package-lock.json
  package.json
Due: prettier --write

chore: set dependabot update interval to monthly
  .github/dependabot.yml
Due: prettier --write

chore(.vscode/extensions): remove redundant field
  .vscode/extensions.json
Due: prettier --write
